:root {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Warna utama */
    --primary-color: #4C78FF; /* Biru khas Frappe ERPNext */
    --secondary-color: #2C3E50;
    --background-color: #F7F9FB;
    --text-color: #213547;
    --card-bg: #ffffff;
    --sidebar-bg: #ffffff;
    --sidebar-text-color: #213547;
    --sidebar-hover: rgb(110, 138, 185);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: #3a66cc;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* Tombol */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #3a66cc;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
    background: var(--card-bg);
}

/* Responsif */
@media (prefers-color-scheme: light) {
    :root {
        color: var(--text-color);
        background-color: var(--background-color);
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}